<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eleganzit.instapure">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <service android:name=".utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".ChangeLanguage2Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".FilterDialogActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SignUpOtpActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider676980626154824"
            android:exported="true" />

        <activity android:name=".VideoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ChangeLanguageActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".RewardsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderConfirmationActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PromotionalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductInstructionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".EditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInOtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="da053ae7792cbe461205212aac624d1afcd9fa4c" />
    </application>

</manifest>